@import "./globals.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  overflow: hidden;

  #app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $board-color;

    #score-container {
      flex: 0.5;
      display: flex;
      justify-content: right;
      align-items: center;
      transition: all 0.5s ease-in-out;
      height: 100%;
      width: 100%;
      padding: 20px;
      background-color: rgba(255, 255, 255);

      .options {
        border-radius: 20px;
        padding: 20px;
        position: relative;
        transition: 0.5s all;

        min-height: 400px;
        min-width: 400px;

        width: 40%;
        #play-btn {
          background-color: whitesmoke;
          border: none;
          font-size: 30px;
          padding: 20px;
          margin: 20px;
          display: none;
          cursor: pointer;
        }

        .title {
          font-size: 20px;
          padding: 0;
          margin: 0;
          color: gray;
          text-align: center;
        }
        .score {
          padding: 20px;
          text-align: center;
          margin: 20px 0 20px 0;
          font-size: 40px;
        }
        #collapseBtn {
          position: absolute;
          color: white;
          right: -50px;
          top: 50%;
          border: none;
          background-color: rgba(0, 0, 0, 0);
          font-size: 30px;
          cursor: pointer;
          transition: 0.5s all;
        }
      }
      &.collapse {
        margin-left: -50vw;
        background-color: rgba(255, 255, 255, 0.2);

        .options {
          border-color: rgba(#000000, 0);
          #collapseBtn {
            transform: rotate(180deg);
          }
        }
      }
      &.play-screen {
        justify-content: center;
        #play-btn {
          display: inline;
        }
      }
    }

    #board-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      transition: all 0.3s;

      .board {
        display: flex;
        flex-direction: column;
        padding: 5px;

        .row {
          display: flex;
          flex-direction: row;
          .tile {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            transition: all 0.2s;

            font-size: 50px;
            font-weight: bolder;

            width: 90px;
            height: 90px;
            margin: 5px;
            border-radius: 10px;
            background-color: wheat;

            &.t2 {
              background-color: wheat;
            }
            &.t4 {
              background-color: rgb(216, 183, 121);
            }
            &.t8 {
              background-color: rgb(140, 112, 60);
              color: white;
            }
            &.t16 {
              background-color: rgb(111, 101, 82);
            }
            &.t32 {
              background-color: rgb(75, 63, 39);
            }
            &.t64 {
              background-color: rgb(48, 37, 15);
            }
            &.t128 {
              background-color: rgb(84, 58, 6);
            }
            &.t256 {
              background-color: rgb(43, 30, 3);
            }
            &.t512 {
              background-color: rgb(63, 63, 63);
            }
            &.t1024 {
              background-color: rgb(72, 113, 55);
            }
            &.t2048 {
              background-color: rgb(133, 235, 90);
            }
          }
        }
      }
      &.play-screen {
        transition: all 0.3s;
        margin-right: -200%;
      }
    }
    @include mobile {
      // flex-direction: column;
      // #score-container {
      //   justify-content: center;
      //   flex: 0.3;
      // }
      // #collapseBtn {
      //   display: none;
      // }
    }
  }
}

@keyframes right {
  0% {
    background-color: rgba(255, 255, 255, 0.481);
    box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px;
  }
  15% {
    box-shadow: rgba(255, 255, 255, 0.132) 0px 0px 0px;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.283);
    box-shadow: rgba(255, 255, 255, 0.372) 400px 0px 0px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: rgba(255, 255, 255, 0) 400px 0px 0px;
  }
}
@keyframes left {
  0% {
    background-color: rgba(255, 255, 255, 0.481);
    box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px;
  }
  15% {
    box-shadow: rgba(255, 255, 255, 0.132) 0px 0px 0px;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.283);
    box-shadow: rgba(255, 255, 255, 0.372) -400px 0px 0px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: rgba(255, 255, 255, 0) -400px 0px 0px;
  }
}

@keyframes up {
  0% {
    background-color: rgba(255, 255, 255, 0.481);
    box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px;
  }
  15% {
    box-shadow: rgba(255, 255, 255, 0.132) 0px 0px 0px;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.283);
    box-shadow: rgba(255, 255, 255, 0.372) 0px -200px 0px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: rgba(255, 255, 255, 0) 0px -200px 0px;
  }
}
@keyframes down {
  0% {
    background-color: rgba(255, 255, 255, 0.481);
    box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px;
  }
  15% {
    box-shadow: rgba(255, 255, 255, 0.132) 0px 0px 0px;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.283);
    box-shadow: rgba(255, 255, 255, 0.372) 0px 200px 0px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: rgba(255, 255, 255, 0) 0px 200px 0px;
  }
}

//Tile Animations
@keyframes match {
  0% {
    transform: scale(1);
  }
  50% {
    box-shadow: rgba(0, 0, 0, 0.475) 0 0 20px;
    transform: scale(1.3);
  }
  100% {
    box-shadow: rgba(255, 255, 255, 0) 0 0 20px;
    transform: scale(1);
  }
}
