@import "./globals.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  overflow: hidden;

  #app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    background-color: $board-color;
    cursor: default;

    #side-container {
      flex: 0.5;
      display: flex;
      justify-content: right;
      align-items: center;
      transition: all 0.5s ease-in-out;
      height: 100%;
      width: 100%;
      padding: 20px;
      background-color: rgba(255, 255, 255);

      .options {
        border-radius: 20px;
        padding: 20px;
        position: relative;
        transition: 0.5s all;

        min-height: 400px;
        min-width: 400px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          button {
            border: none;
            font-size: 30px;
            padding: 20px;
            margin: 20px;
            border-radius: 4px;
            cursor: pointer;
            box-shadow: 0px 0px 5px rgba(97, 97, 97, 0.187);
            color: white;
            transition: all 0.2s;
          }
          button:hover {
            transform: scale(1.1);
            box-shadow: 0px 0px 10px rgba(97, 97, 97, 0.548);
          }

          .play-btn {
            background-color: rgb(106, 140, 94);
            display: none;
          }

          #end-btn {
            background-color: rgba(189, 66, 66, 0.529);
          }

          #layout {
            display: none;
            flex-direction: row;
            margin: 20px;
            align-content: center;
            justify-content: center;
            background-color: rgba(245, 245, 245, 0.365);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.151);

            #layoutTxt {
              padding: 20px;
              font-size: 20px;
              width: 50px;
              background-color: whitesmoke;
              border: none;
              text-align: center;
            }
            p {
              padding: 19px 10px 10px 10px;
              text-align: center;
              font-weight: 500;
            }
          }
        }

        .title {
          font-size: 20px;
          padding: 0;
          margin: 0;
          color: gray;
          text-align: center;
        }
        .score-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          background-color: whitesmoke;
          padding: 0 20px 0 20px;
          margin: 50px 0 50px 0;
          height: 90px;
          p {
            color: rgb(150, 150, 150);
            font-size: 20px;
          }
          #score {
            margin-left: 10px;
            padding: 20px;
            text-align: center;
            margin: 20px 0 20px 0;
            font-size: 40px;
            font-weight: 900;
          }
        }

        #collapseBtn {
          position: absolute;
          color: white;
          right: -50px;
          top: 50%;
          border: none;
          background-color: rgba(0, 0, 0, 0);
          font-size: 30px;
          cursor: pointer;
          transition: 0.5s all;
        }
      }
      &.collapse {
        margin-left: -50vw;
        background-color: rgba(255, 255, 255, 0.2);

        .options {
          border-color: rgba(#000000, 0);
          #collapseBtn {
            transform: rotate(180deg);
          }
        }
      }
      &.play-screen {
        justify-content: center;
        .score-container {
          display: none;
        }
        .buttons {
          .play-btn {
            display: inline;
          }
          #end-btn {
            display: none;
          }
          #layout {
            display: flex;
          }
        }
      }
    }

    #board-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      transition: all 0.3s;

      overflow: auto;

      .board {
        display: flex;
        flex-direction: column;
        padding: 5px;
        max-height: 100%;
        max-width: 100%;
        overflow: auto;

        .row {
          display: flex;
          flex-direction: row;

          .tile {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            transition: all 0.2s;

            font-size: 50px;
            font-weight: bolder;

            min-width: 90px;
            min-height: 90px;
            width: auto;
            height: auto;
            margin: 10px;
            border-radius: 10px;
            background-color: wheat;

            &.t2 {
              background-color: rgb(237, 220, 193);
            }
            &.t4 {
              background-color: rgb(216, 183, 121);
            }
            &.t8 {
              background-color: rgb(140, 112, 60);
              color: white;
            }
            &.t16 {
              background-color: rgb(111, 101, 82);
              color: white;
            }
            &.t32 {
              background-color: rgb(75, 63, 39);
              color: white;
            }
            &.t64 {
              background-color: rgb(48, 37, 15);
              color: white;
            }
            &.t128 {
              background-color: rgb(84, 58, 6);
              color: white;
            }
            &.t256 {
              background-color: rgb(43, 30, 3);
              color: white;
            }
            &.t512 {
              background-color: rgb(63, 63, 63);
              color: white;
            }
            &.t1024 {
              background-color: rgb(72, 113, 55);
              color: white;
            }
            &.t2048 {
              background-color: rgb(133, 235, 90);
              color: white;
            }
          }
        }
      }
      &.play-screen {
        transition: all 0.3s;
        margin-right: -200%;
      }
    }
    @include mobile {
      #side-container {
        display: block;
        position: absolute;
        right: 100%;

        .score-container {
          display: block;

          position: fixed;
          top: -20px;
          right: 30px;
        }
        .options {
          #collapseBtn {
            display: none;
          }
        }
        &.play-screen {
          display: flex;
          flex: 1;
          right: 0;
          padding: 0;
        }

        #end-btn {
          position: fixed;
          bottom: 20px;
          left: calc(50% - 60px);
          transform: translateX(calc(50% - 60px));
        }
      }
      #board-container {
        .board {
          .row {
            .tile {
              margin: 2px;
            }
          }
        }
      }
    }
  }
}

@keyframes right {
  0% {
    background-color: rgba(255, 255, 255, 0.481);
    box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px;
  }
  15% {
    box-shadow: rgba(255, 255, 255, 0.132) 0px 0px 0px;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.283);
    box-shadow: rgba(255, 255, 255, 0.372) 400px 0px 0px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: rgba(255, 255, 255, 0) 400px 0px 0px;
  }
}
@keyframes left {
  0% {
    background-color: rgba(255, 255, 255, 0.481);
    box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px;
  }
  15% {
    box-shadow: rgba(255, 255, 255, 0.132) 0px 0px 0px;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.283);
    box-shadow: rgba(255, 255, 255, 0.372) -400px 0px 0px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: rgba(255, 255, 255, 0) -400px 0px 0px;
  }
}

@keyframes up {
  0% {
    background-color: rgba(255, 255, 255, 0.481);
    box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px;
  }
  15% {
    box-shadow: rgba(255, 255, 255, 0.132) 0px 0px 0px;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.283);
    box-shadow: rgba(255, 255, 255, 0.372) 0px -200px 0px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: rgba(255, 255, 255, 0) 0px -200px 0px;
  }
}
@keyframes down {
  0% {
    background-color: rgba(255, 255, 255, 0.481);
    box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px;
  }
  15% {
    box-shadow: rgba(255, 255, 255, 0.132) 0px 0px 0px;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.283);
    box-shadow: rgba(255, 255, 255, 0.372) 0px 200px 0px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: rgba(255, 255, 255, 0) 0px 200px 0px;
  }
}

//Tile Animations
@keyframes match {
  0% {
    transform: scale(1);
  }
  50% {
    box-shadow: rgba(0, 0, 0, 0.475) 0 0 20px;
    transform: scale(1.3);
  }
  100% {
    box-shadow: rgba(255, 255, 255, 0) 0 0 20px;
    transform: scale(1);
  }
}

//Tile Animations
@keyframes new {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

//Tile Animations
@keyframes addScore {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
